<tui-island>
    <h3 class="tui-island__title">Compras</h3>
    <p class="tui-island__paragraph">
        Recuerda que puedes gestionar las compras desde esta pantalla.
    </p>

    <br>

    <table tuiTable class="table" [columns]="columns">
        <thead>
            <tr tuiThGroup>
                <th tuiTh [resizable]="true">
                    Id
                </th>
                <th tuiTh>Fecha</th>
                <th tuiTh>Valor</th>
                <th tuiTh>Cliente</th>
                <th tuiTh>Carro</th>
            </tr>
        </thead>
        <tbody tuiTbody [data]="shoppings">
            <tr *tuiRow="let item of shoppings" tuiTr>
                <td *tuiCell="'valor'" tuiTd>
                    {{ item.valor | currency: 'COP' }}
                </td>
                <td *tuiCell="'cliente'" tuiTd>
                    {{ item.cliente.nombre + ' ' + item.cliente.apellido }}
                </td>
                <td *tuiCell="'carro'" tuiTd>
                    {{ item.carro.placa }}
                </td>
            </tr>
        </tbody>
    </table>
</tui-island>
